{% extends "base.html" %}
{% set description = "UK road traffic incident injury data and statistics, cross-linked to news articles" %}

{% block article %}


<div class="pure-g">
    <div class="pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="box-padding">
            <p><em>In Collision With</em> lets you browse national statistics about road traffic incidents that result
                in injury. It differentiates itself by:</p>
            <ul>
                <li>linking to news articles about incidents, providing contextual information about what happened</li>
                <li>exposing all its data through an API</li>
                <li>being open-source — see our <a href="https://github.com/incollisionwith">repositories on GitHub</a>
                </li>
                <li>(soon) providing statistical views on the data</li>
            </ul>
            <p>It's still in its early stages, so please get in touch by <a
                    href="mailto:hello@incollisionwith.uk">email</a>
                or on <a href="https://twitter.com/incollisionwith">Twitter</a> if you want to get involved!</p>
        </div>
    </div>
    <div class="pure-u-md-1-4"></div>
</div>

{% endblock %}